<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Scanbot SDK UI Tab -->
  <ion-tab title="Scanbot SDK UI" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/scanbot-sdk-ui">
    <ion-nav-view name="tab-scanbot-sdk-ui"></ion-nav-view>
  </ion-tab>

  <!-- Scanbot SDK Filter Tab -->
  <ion-tab title="Scanbot SDK Filter" icon-off="ion-ios-color-filter-outline" icon-on="ion-ios-color-filter" href="#/tab/scanbot-sdk-filter">
    <ion-nav-view name="tab-scanbot-sdk-filter"></ion-nav-view>
  </ion-tab>

</ion-tabs>
